{% extends "nav.html" %} {% block title %}Projects{% endblock %} {% block
content %}
<!-- Header Section -->
<div id="page_header">
    <h1>DataEntry</h1>
</div>
<!-- End of Header Section -->
<style>
    td {
        min-width: 20px;
    }
    select {
        width: 270px;
        border: 1px solid #ccc;
        text-align: left;
    }
    textarea {
        width: 270px;
        border: 1px solid #ccc;
    }
    input {
        width: 270px;
        border: 1px solid #ccc;
    }
    input[type="text"]::placeholder {
        /* Firefox, Chrome, Opera */
        text-align: center;
        font-style: italic;
    }

    textarea::placeholder {
        /* Firefox, Chrome, Opera */
        text-align: center;
        font-style: italic;
    }
    h5 {
        background-color: #666666;
        color: white;
        padding: 5px;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
    }
</style>
<div id="part1" style="width: 48%; float: left; display: inline">
    <div>
        <div>
            <h5>Input Form</h5>
        </div>
        <div id="AppliedFilters"></div>
    </div>
    <div>
        <div id="EntryForm"></div>
        <button class="default_Button" id="Submit_Button" onclick="sendInput()">
            Submit
        </button>
        <label id="alert"></label>
    </div>
</div>
<div id="part2" style="width: 48%; float: left; display: inline">
    <div>
        <div>
            <h5>Apply Filters</h5>
        </div>
        <div id="ApplyFilters"></div>
    </div>
    <div id="popup">
        <span class="popuptext" id="myPopup"></span>
    </div>
</div>

<script type="text/javascript">
    const date = new Date();
    const formatter = new Intl.DateTimeFormat('zh-CN', { day: '2-digit', month: '2-digit', year: 'numeric' });
    const formattedDate = formatter.format(date).replaceAll("/","-");
    const employees={{ employees|tojson }}
    const leads={{leads|tojson}}
            function getDynamicFilter3() {
                output = document.getElementById("DynamicFilter3").value
                document.querySelector('.dynamic_filter_3').textContent = output;
            }
            function getDynamicFilter4() {
                selectElement =document.getElementById("DynamicFilter4");
                skill =
                    selectElement.options
                    [selectElement.selectedIndex].textContent;
                if(skill=="Other"){
                document.getElementById("skl").innerHTML =`<input onchange="getDynamicFilter4()" type="text" id="DynamicFilter4" name="DynamicFilter4"  placeholder="Enter Skill">`;
                }
    /*            else{
                tbl=`<select onchange="getDynamicFilter4()" name="DynamicFilter4" id="DynamicFilter4">
                            {% for skill in skills %}
                            <option  value={{skill}}>{{skill}}</option>
                            {% endfor %}
                          </select>`;
                document.getElementById("skl").innerHTML =tbl;
                }*/
                document.querySelector('.dynamic_filter_4').textContent = skill;
            }
            function getExpertiseLevel() {
                output = document.getElementById("ExpertiseLevel").value
                //document.querySelector('.expertise_level').textContent = output;
                document.getElementById('expertise_level_alert').textContent = "";
            }
            function getIntUpSkill() {
                output = document.getElementById("IntUpSkill").value
                //document.querySelector('.int_up_skill').textContent = output;
            }
            function getChooseTracker() {
                Tracker = "Skill Tracker"
                tbl=`<table>
                    <tbody>
                        <tr><td id="col_label">Employee ID<span>*</span><td>:</td></td><td class="dynamic_filter_3"><span id="mand_fields">-- Select --</span></td></tr>
                        <tr><td id="col_label">Skills<span>*</span><td>:</td></td><td class="dynamic_filter_4"><span id="mand_fields">-- Select --</span></td></tr>
                    </tbody>
                  </table>`;
                Tracker = document.getElementById("AppliedFilters").innerHTML =tbl;
                tbl1=`
                          <table>
                <tbody>
                <tr>
                    <td id="col_label">Expertise Level<span>*</span><td>:</td></td>
                    <td>
                        <select class="select_Dropdown_Input" onchange="getExpertiseLevel()" name="ExpertiseLevel" id="ExpertiseLevel">
                        {% for expertice_level in expertice_levels %}
                        <option  value={{expertice_level}}>{{expertice_level}}</option>
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr><td id="expertise_level_alert"></td></tr>
                <tr>
                    <td id="col_label">Interest for Up-Skilling<td>:</td></td>
                    <td>
                        <select class="select_Dropdown_Input" onchange="getIntUpSkill()" name="IntUpSkill" id="IntUpSkill">
                        {% for up_skilling in up_skillings %}
                        <option  value={{up_skilling}}>{{up_skilling}}</option>
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr><td></td></tr>
                </tbody>
            </table>
                `;
                document.getElementById("EntryForm").innerHTML =tbl1;
                tbl2=`
                <table>
                  <tbody>
                  <tr>
                      <td id="col_label">Employee ID<td>:</td></td>
                      <td>
                          <select class="select_Dropdown_Input" onchange="getDynamicFilter3()" name="DynamicFilter3" id="DynamicFilter3">
                            {% for emp_id in emp_ids %}
                            <option  value={{emp_id}}>{{emp_id}}</option>
                            {% endfor %}
                          </select>
                      </td>
                  </tr>
                   <tr>
                      <td id="col_label">Skills<td>:</td></td>
                      <td id="skl">
                          <select class="select_Dropdown_Input" onchange="getDynamicFilter4()" name="DynamicFilter4" id="DynamicFilter4">
                            {% for skill in skills %}
                            <option  value={{skill}}>{{skill}}</option>
                            {% endfor %}
                          </select>
                      </td>
                  </tr>
                  </tbody>
              </table>
                `;
                document.getElementById("ApplyFilters").innerHTML =tbl2;
            }
            getChooseTracker();
            function AlertFunc() {
                document.getElementById('alert').textContent = "Please Fill the Mandatory Fields(*)";
                setTimeout(function () {
                    document.getElementById('alert').textContent = "";
                }, 5000);
                //$('#GFG').text("Div hides after 1 second.");
            }
            function PopupFunction(Tracker) {
              var popup = document.getElementById("myPopup");
              popup.textContent = `${Tracker} Form Submitted Successfully`;
                popup.classList.add('custom-background');
              //popup.classList.toggle("show");
              setTimeout(function () {
                    popup.textContent = "";
                  popup.classList.remove('custom-background');
                }, 5000);
            }
            function sendInput() {
                Tracker ="Skill Tracker"
                 selectElement =document.getElementById("DynamicFilter3");
                 emp_id =selectElement.options[selectElement.selectedIndex].textContent;
                 selectElement =document.getElementById("DynamicFilter4");
                 skill =selectElement.options[selectElement.selectedIndex].textContent;
                 selectElement =document.getElementById("ExpertiseLevel");
                 expertise_level =selectElement.options[selectElement.selectedIndex].textContent;
                 selectElement =document.getElementById("IntUpSkill");
                 int_up_skill =selectElement.options[selectElement.selectedIndex].textContent;
                 flag=true;
                 if(emp_id=="-- Select --"){
                  flag=false;
                 }
                 if(skill=="-- Select --"){
                  flag=false;
                 }
                 if(expertise_level=="-- Select --"){
                  flag=false;
                  document.getElementById('expertise_level_alert').textContent = "*Please Select Expertise Level";
                 }
                 if(flag){
                  fetch("https://37727f4f-9aca-4f3e-a138-f54e7c36574d-00-27qjdf76eegx8.sisko.replit.dev/gip", {
                  method: "POST",
                  body: JSON.stringify({
                  "Employee_ID":emp_id,
                  "Skill":skill,
                  "Expertise_Level":expertise_level,
                  "Interest_for_Up_Skill": int_up_skill
                  }),
                  headers: {
                   "Content-type": "application/json; charset=UTF-8"
                  }
                  })
                  .then((response) => response.json())
                  .then((json) => console.log(json));

                  PopupFunction(Tracker);
                     selectElement.value=Tracker;
                       getChooseTracker();
                 }
                 else{
                 AlertFunc();
                 }
            }
</script>
{% endblock %}
