{% extends "nav.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Header Section -->
<div class="w-full bg-white text-black text-left border-b-2 border-gray-300">
  <h1 class="text-2xl font-bold inline-block">Home</h1>
</div>
<!-- End of Header Section -->

<div class="flex gap-4 p-2">
  <div class="flex flex-col gap-4 w-2/3">
    <div>
      <div class="bg-gray-200 p-1 rounded-lg">
        <h3 class="text-lg font-bold text-black-400">Quality Engineering</h3>
      </div>
      <div class="border border-solid border-slate-400 p-1">
        We as a team deliver quality test and certify your product bug free by running multi-level, multi-browser and multi-order tests through accelerators and automated tools and cutting edge technologies.
      </div>
    </div>
    <div>
      <div class="bg-gray-200 p-1 rounded-lg flex justify-between items-center">
        <h3 class="text-lg font-bold text-black-400">Through the Director's word</h3>
      </div>
      <div class="border border-solid border-slate-400 p-1">
        Quality Engineering has been established as a practice in Tiger from the year 2020 and is evolving since then from a 4 member team to 100 members momentarily over the years. The team have strived through excellence by conquering development only projects employed with Tiger from massive and multi-national clients through their key accelerators and testing capability demos.
      </div>
    </div>
  </div>
  <div>
    <div>
      <div class="bg-orange-200 p-1 rounded-lg">
        <h3 class="text-lg font-bold text-black-400 text-center">Weekly-Highlights</h3>
      </div>
      <div class="border border-solid border-slate-400 p-1">
        <p>- The practice hits the head account to 100 and marks a milestone.</p>
        <p>- The Full-Stack QE internal training for Batch-1 is scheduled for Apr 2024</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
