<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %} - My Flask App</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.14/jspdf.plugin.autotable.min.js"></script>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
        />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        />
    </head>
    <body>
        <div id="dashboard_header">
            <div class="sidebar-header text-white text-center">
                <button id="toggleSidebar" class="toggle-btn">
                    <i class="fas fa-bars"></i>
                </button>
                     
                </p>
            </div>
        </div>
        <div class="flex">
            <nav
                id="sidebar"
                class="bg-gray-700 sidebar-expanded min-h-screen p-1 transition-all relative"
            >
                <ul class="list-none m-0 p-0 flex flex-col ">

                    <div class="sidebar_section">
                    <div class="sidebar_section_main_header" id="Highlight_Tab">
                    <li class="sidebar-item sidebar-main-item" style="width:80px;height:90px;" onclick="ColorTabName(this)">
                        <a
                            href="/home"
                            id="page-link"
                        >
                            <span>Overview</span>
                        </a>
                    </li>
                    </div>
                    <div  class="sidebar_section_sub_header">
                    <li class="sidebar-item sidebar-sub-item" onclick="ColorPageName(this)" id="Highlight">
                        <a
                            href="/contact_us"
                            id="page-link"
                        >
                            <i class="fas fa-envelope"></i
                            ><span>About Us</span>
                        </a>
                    </li>
                    <li class="sidebar-item sidebar-sub-item" onclick="ColorPageName(this)" id="Highlight">
                        <a
                            href="/accelerators"
                            id="page-link"
                        >
                            <i class="fas fa-rocket"></i
                            ><span>Accelerators</span>
                        </a>
                    </li>
                    </div>
                    </div>
                    <div class="sidebar_section">
                    <div class="sidebar_section_main_header" id="Highlight_Tab">
                    <li class="sidebar-item sidebar-main-item" style="width:95px;height:105px;" onclick="ColorTabName(this)">
                        
                        <a
                            href="/governance"
                            id="page-link"
                            style="display:block;"
                        >
                            <span>Governance</span>
                        </a>
                    </li>
                    </div>
                        <div  class="sidebar_section_sub_header">
                        <li class="sidebar-item sidebar-sub-item" onclick="ColorPageName(this)" id="Highlight">
                            <a
                                href="/projects"
                                id="page-link"
                            >
                                <i class="fas fa-project-diagram"></i
                                ><span>Projects</span>
                            </a>
                        </li>
                        <li class="sidebar-item sidebar-sub-item" onclick="ColorPageName(this)" id="Highlight">
                            <a
                                href="/resources"
                                id="page-link"
                            >
                                <i class="fas fa-book"></i
                                ><span>Resources</span>
                            </a>
                        </li>
                        </div>
                    </div>
                        <div class="sidebar_section">
                        <div class="sidebar_section_main_header" id="Highlight_Tab">
                        <li class="sidebar-item sidebar-main-item" style="width:18px;height:28px;" onclick="ColorTabName(this)">
                            <a
                                href="/data_entry"
                                id="page-link"
                            >
                                <span>Data_Entry</span>
                            </a>
                        </li>
                        </div>
                            <div  class="sidebar_section_sub_header">
                                <li class="sidebar-item sidebar-sub-item" onclick="ColorPageName(this)" id="Highlight">
                                    <a
                                        href="/wsr"
                                        id="page-link"
                                    >
                                        <i class="fas fa-envelope"></i
                                        ><span>WSR</span>
                                    </a>
                                </li>
                                <li class="sidebar-item sidebar-sub-item" onclick="ColorPageName(this)" id="Highlight">
                                    <a
                                        href="/deskilltracker"
                                        id="page-link"
                                    >
                                        <i class="fas fa-rocket"></i
                                        ><span>Skill Tracker</span>
                                    </a>
                                </li>
                                <li class="sidebar-item sidebar-sub-item" onclick="ColorPageName(this)" id="Highlight">
                                    <a
                                        href="/deAIFPR"
                                        id="page-link"
                                    >
                                        <i class="fas fa-rocket"></i
                                        ><span>Action Items</span>
                                    </a>
                                </li>
                                <li class="sidebar-item sidebar-sub-item" onclick="ColorPageName(this)" id="Highlight">
                                    <a
                                        href="/deleavetracker"
                                        id="page-link"
                                    >
                                        <i class="fas fa-rocket"></i
                                        ><span>Leave Tracker</span>
                                    </a>
                                </li>
                                </div>
                        </div>
                        <div class="sidebar_section">
                        <div class="sidebar_section_main_header" id="Highlight_Tab">
                        <li class="sidebar-item sidebar-main-item" style="width:85px;height:95px;" onclick="ColorTabName(this)">
                            <a
                                href="/reporting"
                                id="page-link"
                            >
                                <span>Reporting</span>
                            </a>
                        </li>
                        </div>
                        <div class="sidebar_section_sub_header">
                        <li class="sidebar-item sidebar-sub-item" onclick="ColorPageName(this)" id="Highlight">
                            <a
                                href="/rag_status"
                                id="page-link"
                            >
                                <i class="fas fa-database"></i
                                ><span>RAG Status</span>
                            </a>
                        </li>
                        <li class="sidebar-item sidebar-sub-item" onclick="ColorPageName(this)" id="Highlight">
                            <a
                                href="/ip"
                                id="page-link"
                            >
                                <i class="fas fa-database"></i
                                ><span>Interview_Panelists</span>
                            </a>
                        </li>
                        </div>
                        </div>
                    <br />
                    <li class="separator"></li>
                    <li class="sidebar-item user-section">
                        <i class="fas fa-user text-black"></i
                        ><span class="text-black">@Qstopteam</span>
                    </li>
                </ul>
            </nav>
            <div id="main_content" class="content main_content-expanded flex-1 p-4">
                {% block content %}{% endblock %}
            </div>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script>
                $(document).ready(function () {
                    $("#toggleSidebar").click(function () {
                        $("#sidebar").toggleClass(
                            "sidebar-collapsed sidebar-expanded",
                        );
                        $("#main_content").toggleClass(
                            "main_content-collapsed main_content-expanded",
                        );
                    });
                });

                // Function to load the chatbot
                function loadChatbot() {
                    const chatbotIcon = document.getElementById("chatbot-icon");
                    const chatbot = document.getElementById("chatbot");
                    const closeButton =
                        document.getElementById("close-chatbot");

                    chatbotIcon.addEventListener("click", function () {
                        chatbot.classList.toggle("hidden");
                    });

                    closeButton.addEventListener("click", function () {
                        chatbot.classList.add("hidden");
                    });
                }
                async function ColorPageName(selectedDiv) {
                    const items = document.querySelectorAll('#Highlight');
                    console.log("Hello, world!",items);
                    console.log("world!, Hello",selectedDiv.innerText);
                    items.forEach(item => {
                        item.classList.remove('highlight');
                    });
                    await fetch("https://37727f4f-9aca-4f3e-a138-f54e7c36574d-00-27qjdf76eegx8.sisko.replit.dev/scp", {
                      method: "POST",
                      body: JSON.stringify({
                      "Current_Page":selectedDiv.innerText
                      }),
                      headers: {
                       "Content-type": "application/json; charset=UTF-8"
                      }
                      })
                      .then((response) => response.json())
                      .then((json) => console.log(json));
                    ColorTPName();
                }
                async function ColorTabName(selectedDiv) {
                    const items = document.querySelectorAll('#Highlight_Tab');
                    console.log("Hello, world!",items);
                    console.log("world!, Hello",selectedDiv.childNodes[1].innerText);
                    items.forEach(item => {
                        item.classList.remove('highlight');
                    });
                    await fetch("https://37727f4f-9aca-4f3e-a138-f54e7c36574d-00-27qjdf76eegx8.sisko.replit.dev/sct", {
                      method: "POST",
                      body: JSON.stringify({
                      "Current_Tab":selectedDiv.childNodes[1].innerText
                      }),
                      headers: {
                       "Content-type": "application/json; charset=UTF-8"
                      }
                      })
                      .then((response) => response.json())
                      .then((json) => console.log(json));
                    
                    ColorTPName();
                }
                async function ColorTPName() {
                    let responseData;
                    await fetch("https://37727f4f-9aca-4f3e-a138-f54e7c36574d-00-27qjdf76eegx8.sisko.replit.dev/gcp", {
                            method: "POST",
                            body: JSON.stringify({
                            "Current_Page":"Hello"
                            }),
                            headers: {
                             "Content-type": "application/json; charset=UTF-8",
                             "Access-Control-Allow-Origin": "*",
                             "Access-Control-Allow-Headers": "Content-Type, Authorization"
                            }
                            })
                      .then((response) => response.json())
                      .then(data => {
                           responseData = data; // Save response to a variable
                           console.log(responseData);});

                    console.log("Response",responseData);
                    console.log("PageName",responseData.Current_Page);
                    const items = document.querySelectorAll('#Highlight_Tab');
                    items.forEach(item => {
                        item.classList.remove('highlight');
                        console.log("TabName",item.childNodes[1].innerText);
                        console.log("ResTabName",responseData.Current_Tab);
                        if(item.innerText == responseData.Current_Tab){
                            console.log("insideTabName",item.innerText);
                            item.classList.add('highlight');
                        }
                    });
                    const pages = document.querySelectorAll('#Highlight');
                    pages.forEach(page => {
                        page.classList.remove('highlight');
                        if(responseData.Current_Page!=""){
                        if(page.innerText == responseData.Current_Page){
                            page.classList.add('highlight');
                        }}
                    });
                }
                ColorTPName()
            </script>
            <!-- Chatbot widget -->
            <div id="chatbot-icon" class="chatbot-icon">💬</div>
            <div id="chatbot" class="chatbot-container hidden">
                <div class="chatbot-header">
                    <span>Chat with us!</span>
                    <button id="close-chatbot" class="close-button">x</button>
                </div>
                <div class="chatbot-body">
                    <!-- Initial default message and options -->
                    <div class="bot-message">
                        <img
                            src="{{ url_for('static', filename='images/bot-icon.png') }}"
                            alt="Bot"
                            class="bot-icon"
                        />Hi, How can I help you?
                    </div>
                    <button
                        class="option-button"
                        onclick="handleOptionClick('Governance')"
                    >
                        Governance
                    </button>
                    <button
                        class="option-button"
                        onclick="handleOptionClick('Projects')"
                    >
                        Projects
                    </button>
                    <button
                        class="option-button"
                        onclick="handleOptionClick('Resources')"
                    >
                        Resources
                    </button>
                    <button
                        class="option-button"
                        onclick="handleOptionClick('Accelerators')"
                    >
                        Accelerators
                    </button>
                    <button
                        class="option-button"
                        onclick="handleOptionClick('Data Entry')"
                    >
                        Data Entry
                    </button>
                </div>
                <div class="chatbot-input-container">
                    <input
                        type="text"
                        id="chatbot-input"
                        class="chatbot-input"
                        placeholder="Type your message..."
                    />
                    <button id="send-message" class="send-button">
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </div>
            </div>
            <script>
                const userIconUrl =
                    "{{ url_for('static', filename='images/user-icon.png') }}";
                const botIconUrl =
                    "{{ url_for('static', filename='images/bot-icon.png') }}";
            </script>
            <script src="{{ url_for('static', filename='projects.js') }}"></script>
            <script src="{{ url_for('static', filename='governance.js') }}"></script>
            <script src="{{ url_for('static', filename='accelerators.js') }}"></script>
            <script src="{{ url_for('static', filename='resource.js') }}"></script>
            <script>
                // Initialize the chatbot
                document.addEventListener("DOMContentLoaded", function () {
                    loadChatbot();
                });
            </script>
        </div>
    </body>
</html>
